h3 {
	font-weight: bold;
}
.row {
	margin: 3px;
}
label {
	color: #666;
}
#proxy-servers {
	max-height: 300px;
	overflow-y: auto;
}
table {
	border: 1px solid #ddd;
	font-size: 1em;
	width: 100%;
}
thead {
	background-color: #eee;
	font-weight: bold;
}
tbody > tr:first-child {
	display: none;
}
tbody > tr:first-child:only-child {
	color: #999;
	display: inherit;
}
tbody tr:focus {
	outline: none;
}
tbody tr.selected {
	border: none;
	background-color: #c8ddff;
}
#host {
	width: 15em;
}
#port {
	width: 5em;
}
button {
	background: #4285f4 !important;
	color: #fff !important;
	border: 0 !important;
	cursor: pointer;
	margin: 10px 2px 2px 2px !important;
	padding: 7px 15px !important;
	white-space: nowrap;
	-webkit-transition: box-shadow .28s cubic-bezier(0.4,0.0,0.2,1) !important;
	transition: box-shadow .28s cubic-bezier(0.4,0.0,0.2,1) !important;
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2) !important;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2) !important;
	-webkit-user-select: none;
	-webkit-border-radius: 3px !important;
	border-radius: 3px !important;
	text-align: center;
	text-transform: uppercase;
	-webkit-tap-highlight-color: transparent;
}
button:hover, button:focus {
	background: #488af6 !important;
}
button[disabled], button[disabled]:hover, button[disabled]:focus {
	background: #ccc !important;
	cursor: not-allowed;
	-webkit-box-shadow: none !important;
	box-shadow: none;
}
button.saved {
	background: #54ab3e !important;
}
#save {
	float: right;
}