body {
	margin: 5px 3px;
	padding: 0;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
li {
	background-repeat: no-repeat;
	background-position: 6px 6px;
	min-height: 36px;
	line-height: 36px;
	padding: 4px 8px 4px 42px;
	margin: 2px;
	cursor: pointer;
	border-radius: 3px;
}
li:hover, li:focus {
	background-color: #eee;
}
li.selected {
	background-color: #ddd;
	box-shadow: inset 0 0 2px rgba(0,0,0,.2);
	cursor: default;
}
#proxy-sys {
	background-image: url('sys.png');
}
#proxy-on {
	background-image: url('on.png');
}
#proxy-on table {
	background-color: white;
	border: 1px solid #ddd;
	display: none;
	font-size: 1em;
	line-height: 1em;
	margin-left: -35px;
	max-height: 300px;
	overflow-y: auto;
}
#proxy-on table td {
	padding: 5px;
}
#proxy-on.selected table {
	display: block;
}
#proxy-on thead {
	background-color: #eee;
	font-weight: bold;
}
#proxy-on tbody > tr:first-child {
	display: none;
}
#proxy-on tbody > tr:first-child:only-child {
	color: #999;
	display: inherit;
}
#proxy-on tbody tr:focus {
	outline: none;
}
#proxy-on tbody tr.selected {
	border: none;
	background-color: #c8ddff;
}
#proxy-off {
	background-image: url('off.png');
}